<!-- launch file to load all the config files for the app -->

<launch>
    <!-- get the app_name argument -->
    <arg name="app_name" default="clutter_pick" />

    <group ns="$(arg app_name)">
        <!-- load the yaml files -->
        <rosparam command="load" file="$(find kinova_apps)/config/$(arg app_name)/joint_angles.yaml" />
        <rosparam command="load" file="$(find kinova_apps)/config/$(arg app_name)/sort_place_poses.yaml" />
        <rosparam command="load" file="$(find kinova_apps)/config/$(arg app_name)/clutter_params.yaml" />
        <rosparam command="load" file="$(find kinova_apps)/config/$(arg app_name)/boundary_safety.yaml" />
        <rosparam command="load" file="$(find kinova_apps)/config/$(arg app_name)/task_params.yaml" />
        <rosparam command="load" file="$(find kinova_apps)/config/$(arg app_name)/fixed_transforms.yaml" />
        <rosparam command="load" file="$(find kinova_apps)/config/$(arg app_name)/perception_params.yaml" />
    </group>
    
</launch>