<?xml version="1.0"?>

<launch>
    <!-- Robot namespace -->
    <arg name="robot_name" default="my_gen3" />
    <!-- app name -->
    <arg name="app_name" default="clutter_pick" />
    <!-- <arg name="pose_input" default="/pcl_closest_obj/output_pose" /> -->
    <arg name="start_delay_seconds" default="0" />

    <!-- launch load_config -->
    <include file="$(find kinova_bringup)/launch/load_config.launch" >
        <arg name="app_name" value="$(arg app_name)" />
    </include>

    <!-- launch gui -->
    <include file="$(find kinova_apps)/launch/gui_kinova.launch" >
        <arg name="app_name" value="$(arg app_name)" />
    </include>

    <!-- launch node with namespace -->
    <group ns="$(arg app_name)">
        <node pkg="kinova_apps" type="pick_action_test.py" name="pick_test" output="screen" />
    </group>
</launch>