<?xml version="1.0"?>

<launch>
    <!-- argument: app name -->
    <arg name="app_name" default="clutter_pick" />

    <!-- load the launch file from app_name folder -->
    <include file="$(find kinova_apps)/launch/$(arg app_name)/load_config.launch" />

    <node pkg="kinova_apps" type="gui_kinova.py" name="gui_kinova" output="screen" />

</launch>